{% extends "base2.html" %}

{% block title %} Feedback form {% endblock %}

{% block content %} 

<h1>Submit Feedback form </h1>

<form action="/feedback" method="post">
 <label for="username">name:</label><br>
 <input name="username" type="text" id="username" placeholder="enter the name"><br><br>

 <label for="message">message:</label><br>
 <input name="message" type="text" id="message" placeholder="enter the message"><br><br>

 <input type="submit" value="Submit Feedback">
</form>


{% endblock %}